@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Open+Sans:wght@400;700&family=Roboto+Condensed:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*font-family: 'Anton', sans-serif;
font-family: 'Black Han Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  font-size: 14pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 10px;
}

.logo {
  width: 40px;
  padding: 0 10px;
}

.botao-modo{
  width: 30px;
  padding: 0 10px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li a {
  display: block;
  color: #808080;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
}

.menu li a:hover {
  border-radius: 10px;
  color: #333;
}

.main {
  text-align: center;
  flex-grow: 1;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-grow: 1;
}

.container h1 {
  font-size: 2.0em;
}

.container p {
  text-align: center;
  font-size: 1.5em;
  color: #808080;
}

.portaChaves {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.chaves {
  text-align: center;
  width: 100px;
}

.chaves img {
  width: 80px;
}

.texto {
  display: block;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  text-align: center;
  padding: 20px;
  color: #808080;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.texto-negrito {
  font-weight: bold;
}

body.modo-escuro {
  background-color: black;
  color: #fff;
}


/* Estilos para telas médias */
@media screen and (max-width: 768px) {
  body {
    font-size: 16pt;
  }

  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 40px;
  }

  .menu ul {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .menu li a {
    margin: 0 5px;
    font-size: 0.7em;
  }

  .menu li a:hover {
    color: #333;
  }

  .container h1 {
    font-size: 1.5em;
  }

  .container p {
    font-size: 1.0em;
  }

  .portaChaves {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
  }

  .chaves img {
    width: 50px;
  }
}

/* Estilos para telas pequenas */
@media screen and (max-width: 450px) {
  body {
    font-size: 14pt;
  }

  .header {
    align-items: center;
  }

  .logo {
    width: 30px;
  }

  .modo {
    width: 15px;
  }

  .menu li a:hover {
    color: #333;
    background-color: transparent;
  }

  .container h1 {
    font-size: 1.0em;
  }

  .container p {
    font-size: 0.6em;
  }

  .portaChaves {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
  }

  .chaves img {
    width: 30px;
  }
}