@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Open+Sans:wght@400;700&family=Roboto+Condensed:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*font-family: 'Anton', sans-serif;
font-family: 'Black Han Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff80;
    background-size: cover;
    background-position: center;
    font-size: 18pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .header {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    color: #14080E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  }
  
  .header h1 {
    font-size: 2em;
    text-align: center;
    font-weight: 700;
  }
  
  .header p {
    text-align: center;
    margin: 10px;
    font-size: 1.4em;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .main h2 {
    font-size: 1.3em;
    margin-bottom: 15px;
  }
  
  .main p {
    text-indent: 10%;
    margin-bottom: 15px;
  }
  
  .blocos {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 30px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  
  .blocos blockquote {
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 10px;
  }
  
  .blocos .link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
  }
  
  .blocos .link a {
    color: inherit;
    text-decoration: none;
  }
  
  .blocos > * {
    margin-bottom: 15px;
  }
  
  .card {
    background-color: #F5F5DC;
    border: 1px solid #ccc;
    width: 400px;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
  }
  
  .footer {
    text-align: center;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #7899d4;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #14080E;
  }
  
  .button a {
    color: white;
    text-decoration: none;
  }
  
  .button:focus {
    outline: none;
  }
  
  /* Media Queries */
  
  @media screen and (max-width: 1200px) {
    .header {
      padding: 40px;
    }
  
    .main {
      padding: 40px;
    }
  
    .blocos {
      padding: 40px;
    }
  
    .card {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header {
      padding: 30px;
    }
  
    .main {
      padding: 30px;
    }
  
    .blocos {
      padding: 30px;
    }
  
    .card {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .header {
      padding: 20px;
    }
  
    .main {
      padding: 20px;
    }
  
    .blocos {
      padding: 20px;
    }
  
    .card {
      width: 100%;
    }
  }